html
    head
    link(rel='stylesheet', href='/css/style.css')
    body
        div#drop-area
            form.my-form
                p Upload a file
                input(type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)")
                label(class="button" for="fileElem") Select a file
                p Image Link 
                input(type="text" id="imageLink")
                label(class="button" onclick="loadImage()") Paste Image Link
            div#info
                p#infotext
            div#gallery
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript',src='js/entry.js')